@{
    ViewBag.Title = "Microsoft CELA IPG-Academic Roundtable Resources";
}

<div class="jumbotron">
    <h1>Microsoft's Intellectual Property Group <i class="fa fa-heart" aria-hidden="true"></i> Academics</h1>
    <p class="lead">Thank you for attending the <i>Open Source and Intellectual Property at Microsoft</i> presentation at the Academic Roundtable hosted by Microsoft's Intellectual Property Group. We have assembled a few of the resources used in the presentation for your reference. If you have any questions please contact <a href="mailto:jason.barnwell@microsoft.com?Subject=IPG%20Academic%20Roundtable%20Discussion">Jason Barnwell</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Patents + Open Source:<br />PowerBI Report</h2>
        <p>
            Visualize the the innovations of certain technology industry leaders embodied in the patents they file and the open source projects they release using <a href="https://powerbi.microsoft.com">Microsoft PowerBI</a>.
        </p>
        <p>@Html.ActionLink("Go to the PowerBI Report", "powerbi", "home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Patents + Open Source:<br />Excel Data</h2>
        <p>Get your own copy of the data that fuels the PowerBI report.</p>
        <p><a class="btn btn-default" href="https://aka.ms/ipgart_data">Get the Data</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patents + Open Source:<br />Data Generation Source Code</h2>
        <p>Do you want to create your own data? This is the source code for the programs that we used to generate the presentation. It even has the source code for this website. How cool is that?</p>
        <p><a class="btn btn-default" href="https://aka.ms/ipgart_source">Get the Source Code</a></p>
    </div>
</div>