@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Patents + Open Source PowerBI Report";
}

<h1>Patents + Open Source: Visualizing Innovation with PowerBI</h1>
<p>The <a href="https://powerbi.microsoft.com">PowerBI</a> report below highlights patent filings and open source software releases for selected technology companies. This data is flawed, but interesting.</p>
<iframe width="933" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiMGIyMzMzYzMtYTFhNy00N2U1LWJjMzUtOTVlZjhhZWI4NTYwIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>